$bg-primary: #ffffff;
$bg-secondary: #1e1e1e;
$text-primary: #111827;
$text-secondary: #6b7280;
$accent-color: #3b82f6;
$border-color: #e5e7eb;
$orange: #d5a03e;
$red: #ad2e2e;


input{
    border: 2px solid $accent-color;
    border-radius: 5px;
    height: 20px;
    width: 250px;
    outline: none;
    margin: 10px;
    padding-left: 10px;
}


.creation_box{
    border: 2px solid black;
    width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}