body{
    background: linear-gradient(#8FABD4,#4A70A9);
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 30px;
    width: 480px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: black;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #8FABD4;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 80px;
    background: #8FABD4;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 19px;
}

.forgot-password{
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px; 
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 59px;
    color: white;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #EFECE3;
    color: #676767;
}