@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  height : 70px;
  background-color: #000000;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar a {
  color: white;
  text-decoration: none;

} 
.nav-bar h2 {
  font-size: 40px;
}
.nav-bag {
  display: flex;
  align-items: center;
}
.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height : 25px;
  width : 25px;
  background: yellow;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
 margin-left: 5px; 
}
/* Not Found Page Styles */
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(68, 68, 68);
  min-width: 88vh;
}