h1{
    font-size: 2.5rem;
    color: #3d3d3d;
    margin-bottom: 1rem;
}
.news-icon{
    margin-left: 10px;
    color: #3d3d3d;
    font-size: 2.5rem;
}
.headers{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.create-link{
    
}